spring:
  main:
    web-application-type: none

resilience4j:
  circuitbreaker:
    instances:
      githubApi:
        failure-rate-threshold: 50
        minimum-number-of-calls: 5
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state: 5s
        permitted-number-of-calls-in-half-open-state: 3
        sliding-window-size: 10
        sliding-window-type: count_based

cloud:
  aws:
    region:
      static: us-east-1
